@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<article>
    <p>
        <h2>Team "SusirinkeLaborui"</h2>
        <h3>Group: IFF-1</h3>
        <h3>Team Members:</h3>
        <ul>
            <li>Tautvydas Žilys</li>
            <li>Andrius Dapševičius</li>
            <li>Darius Lapūnas</></li>
            <li>Karolis Stašaitis</li>
        </ul>
        <h3>Problem Summary:</h3>
        <p>The purpose of this software is an implemention of Prim's algorithm. Given an n amount of points in a plane (x, y). The application will find the shortest-path tree that connects these points and give an informational output of the results it found.</p>
    </p>
</article>

@*<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>*@