@{
    ViewBag.Title = "Downloads";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="Build">
    <header>
        <h3>Latest Application Releases</h3>
    </header>
    <p>
        <a href="http://home.delanoir.com:8888/job/Laboras21/lastSuccessfulBuild/artifact/Laboras21/bin/Release/*zip*/Release.zip">Latest Build</a>
    </p>
</section>

<section class="Build">
    <header>
        <h3>Specification Download</h3>
    </header>
    <p>
        @Html.ActionLink("Latest Specification", "DownloadSpec")
    </p>
</section>