@{
    ViewBag.Title = "SusirinkeLaborui Web";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
<h3>Here you can do the following:</h3>
<ul>
    <li>View the Team Structure in the @Html.ActionLink("About page", "About").</li>
    <li>Download the latest build and specification from the @Html.ActionLink("Downloads Page", "Downloads").</li>
    <li>To view all of the source code for our project please go to our <a href="https://github.com/SusirinkeLaborui/">GitHub page</a></li>
</ul>
